<div class="center-content" >


  <h1 class="center-block">上海市赢纳数据中心设备管理系统</h1>

  <div class="box">

    <img width="200" height="250" src="assets/login-pic.jpg" style="text-align: left">

    <div style="display: inline-block">
      <h4>用户登陆<span>UserLogin</span></h4>
      <input type="text" placeholder="用户名">
      <input type="password" placeholder="密码">
    </div>

    <button>登陆</button>
    <label><input type="checkbox">记住密码</label>
    <label><a>忘记密码？</a></label>
  </div>


  <!--<div style="width:500px;height:250px;border:1px solid #333">-->
  <!--<h2>-->
    <!--xxxx-->
  <!--</h2>-->
  <!--<div >-->
      <!--<img width="200" height="250" class="float-left">-->
      <!--<div class="float-left">-->
          <!--<h4>登陆</h4>-->
          <!--<input type="text" placeholder="用户名"><br/>-->
          <!--<input type="password" placeholder="密码"><br/>-->
          <!--<button>登陆</button>-->
          <!--<label><input type="checkbox">记住我</label>-->
          <!--<label><a>忘记密码？</a></label>-->
      <!--</div>-->
      <!--<div class="clearfix"></div>-->
  <!--</div>-->
<!--</div>-->
</div>
